/* Wrappers */

	
#footer-wrapper {
    padding: 6em 0 8em 0;
    background: #ffc6c7;
}


/* Footer */

#footer {
    margin-top: 0;
}

    #footer a {
        color: inherit;
    }

#copyright {
    color: #fff;
    padding: 4em 0 0 0;
    text-align: center;
}

    #copyright a {
        color: inherit;
    }

/* Footer Menu */

			ul.menu li {
				display: block;
				border: 0 !important;
				padding: 0 !important;
				margin: 0 !important;
			} 


 /* Tablet */

@media screen and (min-width: 600px) and (max-width: 1023px) {

                
                /* Actions? */
        
                    ul.actions li {
                        display: block;
                        padding: 0;
                        margin: 1em 0 0 0;
                    }
        
                        ul.actions li:first-child {
                            margin-top: 0;
                        }
        
                /* Wrappers */
        
                    #footer-wrapper {
                        padding: 6em 0 4em 0;
                    }
        
        
                /* Footer */
        
                    #copyright {
                        padding: 0;
                    }
            }



/* Mobile */
@media screen and (max-width: 599px) {

    /* Menu */

        ul.menu li {
            display: block;
            border: 0 !important;
            padding: 0 !important;
            margin: 0 !important;
        }

    /* Actions */

        ul.actions li {
            display: block;
            padding: 0;
            margin: 1em 0 0 0;
        }

            ul.actions li:first-child {
                margin-top: 0;
            }


    /* Widgets */

        .widget.thumbnails .image {
            margin: 0;
        }

        .widget.thumbnails .x {
            padding: 1em 0.5em 0 0;
        }

        .widget.thumbnails .y {
            padding: 1em 0 0 0.5em;
        }

        .widget.thumbnails .row:first-child .x, .widget.thumbnails .row:first-child .y {
            padding-top: 0;
        }

    /* Wrappers */

    #footer-wrapper {
            padding: 40px 30px 40px 30px;
        }

    

    /* Footer */

        #footer section {
            border-bottom: solid 1px #ccc;
            padding-bottom: 3em;
            margin-bottom: 1em !important;
        }

        #copyright {
            text-align: left;
        }

}