/* Desktop */

#header-wrapper {
    padding: 4em 0 0 0;
    /* margin-bottom: -2em; */
    background: #594a4e;
    border-bottom: 3px solid white ;
}

#header {
	display: flex; 
	align-items: center; 
	justify-content: space-between;
	padding: 15px 0; 
	margin-top: -60px;
	position: relative; 
  }
  
  /* Logo */
  #logo {
	flex-shrink: 0; 
	margin: 0; 
	position: relative;
	top: 0; 
	padding: 5px 0 5px 0;
	max-width: 150px; 
  }
  
  #logo img {
	width: auto;
	max-width: 100%; 
	height: auto;
	display: block; 
  }
  
  /* Nav */
  nav {
	margin-left: auto; 
	display: flex; 
	align-items: center; 
	padding-top: 25px;
  }
  
		#nav ul, #mobile-nav ul {
			list-style: none;
			padding-left: 0;
		}

			#nav ul li, #mobile-nav ul li {
				float: left;
				line-height: 4.5em;
				padding-left: 1.5em;
			}

				#nav ul li a, #nav ul li span, #mobile-nav ul li a, #mobile-nav ul li span {
					-moz-transition: background-color .25s ease-in-out;
					-webkit-transition: background-color .25s ease-in-out;
					-ms-transition: background-color .25s ease-in-out;
					transition: background-color .25s ease-in-out;
					font-weight: 800;
					letter-spacing: 0.025em;
					color: #fff;
					text-decoration: none;
					border-radius: 6px;
					padding: 0.5em 1em 0.5em 1em;
				}

				#nav ul li > ul, #mobile-nav ul li > ul {
					display: none;
				}

				#nav ul li:hover a, #nav ul li:hover span, #mobile-nav ul li:hover a, #mobile-nav ul li:hover span {
					background: #A59398;
				}

				#nav ul li.active a, #nav ul li.active span, #mobile-nav ul li:active a, #mobile-nav ul li.active span {
					background: #fff;
				}

				#nav ul li.current a, #mobile-nav ul li.current a {
					background: #A59398;
					color: #fff;
				}



/* Dark Mode Styles */

.dark-mode #header-wrapper {
		background-color: #b8c1ec;
		color: #121629;
	}

.dark-mode #nav ul li a, .dark-mode #nav ul li span, .dark-mode #mobile-nav ul li a, .dark-mode #mobile-nav ul li span {
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    font-weight: 800;
    letter-spacing: 0.025em;
    color: #232946;
    text-decoration: none;
    border-radius: 6px;
    padding: 0.5em 1em 0.5em 1em;
}

.dark-mode #nav ul li > ul, .dark-mode #mobile-nav ul li > ul {
    display: none;
}

.dark-mode #nav ul li:hover a, .dark-mode #nav ul li:hover span, .dark-mode #mobile-nav ul li:hover a, .dark-mode #mobile-nav ul li:hover span {
    background: #9FABE5;
}

.dark-mode #nav ul li.active a, .dark-mode #nav ul li.active span, .dark-mode #mobile-nav ul li.active a, .dark-mode #mobile-nav ul li.active span {
    background: #fff;
}

.dark-mode #nav ul li.current a, .dark-mode #mobile-nav ul li.current a {
    background: #9FABE5;
    color: #232946;
}

/* Right-side buttons (login & dark mode) */

.header-buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end; /* Align buttons all the way to the right */
	/* margin-right: -90px; */
	margin-left: 80px;
  }
  
  button.login-btn {
	background-color: #594A4E;
	border: 2px solid #ccc;
	padding: 0.3em 0.6em; /* Smaller padding for a compact button */
	margin-right: 10px; /* Space between login and dark mode toggle */
	cursor: pointer;
	border-radius: 5px;
	font-size: 1.1em; /* Slightly smaller font */
	font-weight: 600;
  }
  
  button.dark-mode-toggle {
	background-color: #594A4E;
	border: none;
	cursor: pointer;
  }
							
		
  /* Hover and focus effects for buttons */

  .login-btn:hover {
	background-color: #A59398;
  }
  
  .dark-mode-toggle:hover {
	opacity: 0.8;
  }
  
  /* Dark mode styles for buttons */
  .dark-mode .login-btn {
	background-color: #b8c1ec;
	border: 2px solid #232946;
	color: #232946;
	padding: 0.3em 0.6em; /* Smaller padding for a compact button */
	margin-right: 10px; /* Space between login and dark mode toggle */
	cursor: pointer;
	border-radius: 5px;
	font-size: 1.1em; /* Slightly smaller font */
	font-weight: 600;
  }
  
  .dark-mode .login-btn:hover {
	background-color: #9FABE5;
  }
  
  .dark-mode .dark-mode-toggle {
	background-color: #b8c1ec;
	color: #232946;
  }


@media screen and (min-width: 1024px) and (max-width: 1680px) {
	/* Mobile Nav */
	#mobile-nav {
		display: none;
	}
}
  /* Tablet */

@media screen and (min-width: 600px) and (max-width: 1023px) {

	
	/* Tablet Button */
	.login-btn {
		display: none;
	}

	.dark-mode-toggle {
		background: none;
		border: none;
		cursor: pointer;
		margin-right: 10;
		margin-top: 0;
	  }

	/* Tablet Wrappers */
	#header-wrapper {
		padding: 4em 0 0 0;
		/* margin-bottom: -2em; */
		background: #594a4e;
		border-bottom: 3px solid white ;
	}

	/* #header-wrapper {
		padding: 3em 0 1em 0;
		text-align: center;
	} */

	/* Tablet Header */
	#header {
		display: flex; 
			align-items: center; 
		justify-content: space-between;
		padding: 15px 0; 
		margin-top: -60px;
		position: relative; 
	  }
		/* #header {
			margin: 0 auto;
		} */

	/* Tablet Logo */
		#logo {
			margin-top: 0;
			margin-left: -20px;
		}
		#logo span {
			display: block;
			margin: 0;
		}

	/* Tablet Nav */

		#nav {
			display: none;
		}

	/* Tablet Dark */

	/* Tablet Dark Button */
	
	.dark-mode .login-btn {
		display: none;
	}
}


/* Mobile Large */

@media screen and (max-width: 599px) {

	#header {
		display: flex; 
		align-items: center; 
		justify-content: space-between;
		padding: 10px 0; 
		margin-top: -40px;
		position: relative; 
	  }

	#nav {
		display: none;
	}

	/* Mobile Button */
	.login-btn {
		display: none;
	}

	.dark-mode-toggle {
		background: none;
		border: none;
		cursor: pointer;
		margin-right: 25px;
		margin-top: 0;
	  }

	.dark-mode .login-btn {
		display: none;
	}
	

	/* Mobile Wrappers */

		#header-wrapper {
			padding: 3em 0 1.5em 0;
		}

		

	/* Mobile Logo */

		#logo {
			position: relative;
			top: 2px;
			left: 20px;
			max-width: 100px;
		}
}

/* Mobile Small */
@media screen and (max-width: 390px) {
    #header-wrapper {
        padding: 2em 0 0.5em 0;
    }
}