/* Desktop */

#header-wrapper {
    padding: 4em 0 0 0;
    /* margin-bottom: -2em; */
    background: #594a4e;
    border-bottom: 3px solid white ;
}

#header {
	display: flex; 
	align-items: center; 
	justify-content: space-between;
	padding: 15px 0; 
	margin-top: -60px;
	position: relative; 
  }
  
  /* Logo */
  #logo {
	flex-shrink: 0; 
	margin: 0; 
	position: relative;
	top: 0; 
	padding: 5px 0 5px 0;
	max-width: 150px; 
  }
  
  #logo img {
	width: auto;
	max-width: 100%; 
	height: auto;
	display: block; 
  }
  
  /* Nav */
  nav {
	margin-left: auto; 
	display: flex; 
	align-items: center; 
	padding-top: 25px;
  }
  
		#nav ul, #mobile-nav ul {
			list-style: none;
			padding-left: 0;
		}

			#nav ul li, #mobile-nav ul li {
				float: left;
				line-height: 4.5em;
				padding-left: 1.5em;
			}

				#nav ul li a, #nav ul li span, #mobile-nav ul li a, #mobile-nav ul li span {
					-moz-transition: background-color .25s ease-in-out;
					-webkit-transition: background-color .25s ease-in-out;
					-ms-transition: background-color .25s ease-in-out;
					transition: background-color .25s ease-in-out;
					font-weight: 800;
					letter-spacing: 0.025em;
					color: #fff;
					text-decoration: none;
					border-radius: 6px;
					padding: 0.5em 1em 0.5em 1em;
				}

				#nav ul li > ul, #mobile-nav ul li > ul {
					display: none;
				}

				#nav ul li:hover a, #nav ul li:hover span, #mobile-nav ul li:hover a, #mobile-nav ul li:hover span {
					background: #A59398;
				}

				#nav ul li.active a, #nav ul li.active span, #mobile-nav ul li:active a, #mobile-nav ul li.active span {
					background: #fff;
				}

				#nav ul li.current a, #mobile-nav ul li.current a {
					background: #A59398;
					color: #fff;
				}



/* Dark Mode Styles */

.dark-mode #header-wrapper {
		background-color: #b8c1ec;
		color: #121629;
	}

.dark-mode #nav ul li a, .dark-mode #nav ul li span, .dark-mode #mobile-nav ul li a, .dark-mode #mobile-nav ul li span {
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    font-weight: 800;
    letter-spacing: 0.025em;
    color: #232946;
    text-decoration: none;
    border-radius: 6px;
    padding: 0.5em 1em 0.5em 1em;
}

.dark-mode #nav ul li > ul, .dark-mode #mobile-nav ul li > ul {
    display: none;
}

.dark-mode #nav ul li:hover a, .dark-mode #nav ul li:hover span, .dark-mode #mobile-nav ul li:hover a, .dark-mode #mobile-nav ul li:hover span {
    background: #9FABE5;
}

.dark-mode #nav ul li.active a, .dark-mode #nav ul li.active span, .dark-mode #mobile-nav ul li.active a, .dark-mode #mobile-nav ul li.active span {
    background: #fff;
}

.dark-mode #nav ul li.current a, .dark-mode #mobile-nav ul li.current a {
    background: #9FABE5;
    color: #232946;
}

/* Right-side buttons (login & dark mode toggle) */

.header-buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end; 
	margin-left: 80px;
}
  
a.login-btn {
	color: #ccc;
	background-color: #594A4E;
	border: 2px solid #ccc;
	padding: 0.3em 0.6em; /* Smaller padding for a compact button */
	margin-right: 10px; /* Space between login and dark mode toggle */
	cursor: pointer;
	border-radius: 5px;
	font-size: 1.1em; /* Slightly smaller font */
	font-weight: 600;
}
  
button.dark-mode-toggle {
	background-color: #594A4E;
	border: none;
	cursor: pointer;
}
							
		
  	/* Hover and focus effects for buttons */

.login-btn:hover {
	background-color: #A59398;
}
  
.dark-mode-toggle:hover {
	opacity: 0.8;
}
  
  /* Dark mode styles for buttons */
.dark-mode .login-btn {
	background-color: #b8c1ec;
	border: 2px solid #232946;
	color: #232946;
	padding: 0.3em 0.6em; /* Smaller padding for a compact button */
	margin-right: 10px; /* Space between login and dark mode toggle */
	cursor: pointer;
	border-radius: 5px;
	font-size: 1.1em; /* Slightly smaller font */
	font-weight: 600;
}
  
.dark-mode .login-btn:hover {
	background-color: #9FABE5;
}
  
.dark-mode .dark-mode-toggle {
	background-color: #b8c1ec;
	color: #232946;
}


/* ****** Laptop & Desktop Specific Display Rules */

@media screen and (min-width: 1024px) and (max-width: 1680px) {

	/* Laptop & Desktop Dropdown Toggle Menu */
	.hamburger {
		display: none;
		cursor: pointer;
		font-size: 24px;
	  }

	/* Laptop & Desktop Mobile Nav */
	#mobile-nav {
		display: none;
	}
}



/* ****** Tablet Styles */

@media screen and (min-width: 600px) and (max-width: 1023px) {

	/* Tablet Wrappers */
	#header-wrapper {
		padding: 4em 0 0 0;
		/* margin-bottom: -2em; */
		background: #594a4e;
		border-bottom: 3px solid white ;
	}


	/* Tablet Header */
	#header {
		display: flex; 
		align-items: center; 
		justify-content: space-between;
		padding: 15px 0; 
		margin-top: -60px;
		position: relative; 
	  }
		

	/* Tablet Dropdown Toggle Menu */
	.hamburger {
		display: none;
		cursor: pointer;
		font-size: 24px;
	  } 


	/* Tablet Logo */
	#logo {
		margin-top: 0;
		margin-left: -20px;
		max-width: 120px;
	}

	#logo span {
		display: block;
		margin: 0;
	}

	/* Tablet Nav */
	#nav {
		display: none;
	}

	#mobile-nav {
		margin-left: 30px;
	}


	/* Tablet Right-hand Buttons */
	.login-btn {
		display: none;
	}

	.dark-mode-toggle {
		background: none;
		border: none;
		cursor: pointer;
		margin-right: 10;
		margin-top: 0;
	  }


	/* Tablet Dark Mode Styles */
	.dark-mode .login-btn {
		display: none;
	}
}



/* ****** Large Phone Styles */

@media screen and (max-width: 599px) {
	  
	/* L Phone Wrappers */
	#header-wrapper {
		padding: 3em 0 1.5em 0;
	}

	/* L Phone Header */
	#header {
		display: flex; 
		justify-content: space-between;
		align-items: center; 
		padding: 10px 0; 
		margin-top: -50px;
		position: relative; 
	}

	/* L Phone Dropdown Toggle Menu */
	.hamburger {
		color: #ccc;
		cursor: pointer;
		font-size: 20px;
		order: -1;
		margin-left: 18px;
	} 

	/* Centered Logo */
	#logo {
		position: relative;
		top: 5px;
		left: 89px;
		max-width: 100px;
		order: 0;
		transform: translateX(-50%);
	}

	#mobile-nav {
		display: none;
	}

	/* Full-Width Dropdown Menu */
	#nav {
		display: none; /* Hide by default */
		position: absolute;
		top: 100%; /* Position right below the header */
		left: 0;
		width: 100%;
		background-color: #333;
		z-index: 999;
	}

	/* Show Menu when Open */
	#nav.open {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	/* Full-width menu items */
	#nav ul {
		display: flex;
		flex-direction: column;
		padding: 0;
		width: 100%;
		list-style: none;
		margin: 0;
	}

	#nav ul li {
		padding: 1rem;
		text-align: center;
		width: 100%;
		border-bottom: 1px solid #ccc;
	}

	#nav ul li a {
		color: white;
		text-decoration: none;
		font-size: 18px;
	}

	/* Right-hand Buttons */
	.login-btn {
		display: none;
	}

	.dark-mode-toggle {
		background: none;
		border: none;
		cursor: pointer;
		margin-right: 25px;
		margin-top: 0;
		order: 3;
	}
}

/* ****** Small Phone */
@media screen and (max-width: 390px) {

	/* L Phone Wrapper */
	#header-wrapper {
		padding: 3em 0 0.5em 0;
	}

	#header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0px 12px 0px;
		margin-top: -50px;
		position: relative;
	}
}